* {
    margin: 0;
    padding: 0;
}

.cont-tabla {
    width: 100%;
    overflow-x: scroll;  /* auto */
}

table {
    width: 60%;
    padding: 1em;
    box-shadow: 2px 2px 3px grey;
    margin: 1em auto;
}

th {
    font-size: 1.2em;
    padding: 0.5em 1em;
    background-color: crimson;
    color: white;
}

td {
    font-size: 1.2em;
    padding: 0.5em 1em;
    border: 2px solid crimson;
}

th:nth-child(1), 
th:nth-child(2) {
    text-align: left;
}

td:nth-child(3) {
    text-align: center;
}